{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Hola ñeñe!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium reiciendis natus distinctio perspiciatis earum! Cum aut ea eius ipsum et maxime nihil repellat quaerat mollitia eaque? Expedita ullam veniam totam.</p>
    </div>
    <div class="col-4">
        <img src="asset/img/4.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}